body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #eee;
}
header {
    background-color: #61150bfb;
    padding: 0.5em;
}
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4%;
}
header nav a .logo {
    height: 40px;
}
header nav ul {
    display: flex;
    
}
header nav ul li {
    list-style: none;
}
header nav ul li a{
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(238, 238, 238);
    margin-left: 20px;
}
/*================= the style of the home section ===========*/
#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/1969498.jpg");
    background-repeat: none;
    background-size: cover;
    background-size: 100% 102%;
}
#home .box-text-home {
    text-align: center;
}
#home .box-text-home h2{
    text-transform: capitalize;
    font-size: 3.5vw;
    margin: 0;
    color: rgba(235, 230, 230, 0.904);
    text-shadow: 0 16px 40px #000;
    text-indent: 20px;
}
#home .box-text-home h1{
    text-transform: uppercase;
    font-size: 7vw;
    color: #f5f5f5ee;
    text-shadow: 0px 15px 50px #c42a25e3;
    margin: 0;
}
#home .box-text-home p{
    text-transform: capitalize;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin: 0;
}
/* ====================the style of the info anime section */
h3 {
    color: #000;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 3vw;
}
p {
    letter-spacing: 1.5px;
    line-height: 25px;
    font-weight: 100;
}
.info-anime {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
    padding: 2rem 0;
    color: #000;
}
.info-anime .box {

    width: 80%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: #efedee;
}
.info-anime .box .box-text{
    width: 74%;
}
.info-anime .box .box-text p a{
    color: rgb(14, 107, 107);
}
.info-anime .box .box-text p a:visited{
    color: rgb(234, 132, 24);
}

.info-anime .box .box-img {
    width: 24%;
    border: 4px solid #eee;
    overflow: hidden;
}
.info-anime .box .box-img img  {
    width: 100%;
    height: 102%;
}
.info-anime .box .anime,.info-anime .box .story {
    width: 100%;
}
/* =================== the style of the galery ======== */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 4rem 0;
    justify-content: center;
  }
  h3 {
      margin-left: 5%;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 24%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
    max-height: 450px;
    border: 1px solid rgba(109, 106, 106, 0.719);
    transition: .3s;
  }
  .column img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  

