nav .menu-btn,
.menu-icon{		display : none;	}
/* ==================RESPONSIVE OF 900PX==================== */
@media screen and (max-width:992px) {
/*  responsive of navbar for max width 900px */
header nav{
	height: 65px;
	position: absolute;
	top: 55px;
	left: 0%;
	width: 50%;
	padding: 0px;
	margin: 0px; 
}
header nav ul {
	margin: 0;
	display: none;
	height: auto;
	padding-left: 0;
}
header nav ul li{
	width : 100%;
	margin-left: 0;
	border-bottom: 1px solid #eee;
}
nav ul li a{
	font-size: 25px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
	padding: 15px;
	height: 35px;
}
nav ul li a:hover{	background-color: rgba(245, 222, 179, 0.829);}
nav .menu-icon{
	display: block;
	cursor:pointer;
	padding: 28px 0;
	margin-right: 2%;
	user-select: none;
	position: absolute;
	left: 20px;
	top: -55px;
}
nav .menu-icon .nav-icon{
	background-color: #40c6d8;
	display: block;
	height: 2px;
	position: relative;
	transition: background-color 0.2s ease-out;
	width: 18px;
}
nav .menu-icon .nav-icon:before,
nav .menu-icon .nav-icon:after{
	background:#40c6d8;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all ease-out 0.2s;
	width:100%;
}
nav .menu-icon .nav-icon:before{	top : 5px;}
nav .menu-icon .nav-icon:after{	top : -5px;}
nav .menu-btn:checked ~ .menu-icon .nav-icon{	background : transparent;}
nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
	transform : rotate(-45deg);
	top : 0;
}
nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
	transform : rotate(45deg);
	top : 0;
}
nav .menu-btn:checked ~ ul {
	display: block;
	background-color: #40c6d8;
}
#about .w-75 {	width: 90% !important;}
#about .content-about .box-img-about{	width: 0%;}
#about .container .box-img-about img{  display: none;}
#big-projects .w-50 {	width: 100% !important;}
}
/* ====================RESPONSIVE 720PX =========================== */
@media(max-width : 768px){

#about .container::before {  width: 0vw;}
#contact .w-50 {	width: 100% !important;}
}
@media(max-width : 576px){ 
	/* home section */
	.content-home h2,.content-home q{
		-webkit-text-stroke: 0px  rgb(255, 255, 255);
		text-shadow: none;
	}
	#home .waviy{	font-size: 20px !important;}
	#home .fs-3 {	font-size: 18px !important;}
	#home .fs-4, #home .fs-5 {
		font-size: 14px !important;
		margin: 0;
	}
	/* about section */
	#about {padding: 0;}
	#about .container {
		width: 100% !important;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid #000;
		box-shadow: none;
	}
	/* project section */
	#big-projects {	padding: 0 ;}
	#skills+.row {	padding: 0!important;}
	#other .shadow {
		box-shadow: none !important;
	}
}