nav .menu-btn,
.menu-icon{		display : none;	}
/* ==================RESPONSIVE OF 900PX==================== */
@media screen and (max-width:992px) {
/*  responsive of navbar for max width 900px */
header nav{
	position: absolute;
	top: 55px;
	left: 0%;
	width: 55%;
}
header nav ul {display: none !important;}
header nav ul li{	border-bottom: 1px solid #eee;}
header nav ul .nav-link{ padding: 1rem !important;}
nav .menu-icon{
	display: block;
	cursor:pointer;
	padding: 28px 0;
	margin-right: 2%;
	user-select: none;
	position: absolute;
	left: 20px;
	top: -55px;
}
nav .menu-icon .nav-icon{
	background-color: #fff;
	display: block;
	height: 2px;
	position: relative;
	transition: background-color 0.2s ease-out;
	width: 18px;
}
nav .menu-icon .nav-icon:before,
nav .menu-icon .nav-icon:after{
	background:#fff;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all ease-out 0.2s;
	width:100%;
}
nav .menu-icon .nav-icon:before{	top : 5px;}
nav .menu-icon .nav-icon:after{	top : -5px;}
nav .menu-btn:checked ~ .menu-icon .nav-icon{	background : transparent;}
nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
	transform : rotate(-45deg);
	top : 0;
}
nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
	transform : rotate(45deg);
	top : 0;
}
nav .menu-btn:checked ~ ul {
	display: block !important;
	background-color: #00000080;
}
main { height: 100vh;}
#skills {    padding: 3rem;}
#about {min-height: auto;}
#about>div .box-img-about{	width: 0%;}
#about>div .box-img-about img{  display: none;}
#about >div::before {  width: 0vw;}
#big-projects  .all-project  > .project,
#vedio-projects .all-vedio > .project { width: calc((100% - 60px) / 2);}
}
/* ====================RESPONSIVE 720PX =========================== */
@media(max-width : 768px){
	main {height: 95vh;}
	#skills {    padding: 2rem;}
	#contact .w-50 {	width: 100% !important;}
	#big-projects  .all-project  > .project,
	#vedio-projects .all-vedio > .project { width: 80%}
}
@media(max-width : 576px){ 
	main {height: 90vh;}
	/* home section */
	.content-home h2,.content-home q{
		-webkit-text-stroke: 0px  rgb(255, 255, 255);
		text-shadow: none;
	}
	#home .waviy{	font-size: 18px !important;}
	#home .fs-3 {	font-size: 16px !important;}
	#home .fs-4, #home .fs-5 {
		font-size: 14px !important;
		margin: 0;
	}
	/* about section */
	#about {padding: 0;}
	#about >div {
		width: 100% !important;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid #000;
		box-shadow: none;
	}
	/* project section */
	#vedio-projects,
	#big-projects {	padding: 0 ;}
	#skills .w-50 {	width: 100% !important;}
	#other .shadow {	box-shadow: none !important	}
}