html { scroll-behavior: smooth;}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;  
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
:root {
    --linkColor: #ffd900;
    --bgheader: #21312e;
    --textColor: #e9ecef;
}

/* generation style */
h2,h1,h3{
    text-transform: capitalize;
    color: #000;
    letter-spacing: 1.4px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {  font-weight: normal;}

p {  font-weight: 500!important;}

.btn {   box-shadow: none!important;}

/* ============ header =============*/
header {
    background-color: #1d1d1d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 55px;   
}

.logo a {
    position: absolute;
    top: -25px;
    left: 50px;
    color: var(--textColor);
    font-size: 2em;
    transition: ease-in-out .5s;
    cursor: pointer;
    letter-spacing: 2px;
    text-decoration: none;
}


.logo a:nth-child(1){
    color: transparent;
    -webkit-text-stroke: .8px var(--textColor);
}

.logo a:nth-child(2){
    color: var(--textColor);
    animation: animate 3s ease-in-out infinite;
}
@keyframes animate  {
    0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%,100% 52%,100% 100%,0% 100%) ;
    }
    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%,100% 46%,100% 100%,0% 100%) ;
    }
}
header nav { position: relative;}
header nav ul li a{
    color: var(--textColor) !important;
    text-transform: capitalize;
    transition: ease-in-out .3s;
}
header nav ul li a:hover{
    color: var(--linkColor) !important;
}
/*===================== MAIN STYLE ===========*/
main {
    min-height: 90vh;
    width: 100%;
    background-color: #1d1d1d;
    position: relative;
    background-image : url("https://assets.website-files.com/6256964c7df9d22da414f741/6256964c7df9d2078f14f945_Style%203.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
}
main #home .content-home {
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 10%;
}
.content-home h1,.content-home h2,.content-home q{
    letter-spacing: 1.4px;
    color: var(--textColor);
    text-shadow: 1px 1px 6px #000;
    -webkit-text-stroke: 0.3px #000;
    font-weight: 600;
    margin-bottom: 10px;
}

main #home .content-home q {  -webkit-text-stroke: 0px;}
main #home .social-media{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    right: 1.5%;
}

main #home .social-media a i{
    color: var(--textColor);
    transition: ease-in-out .3s;
    font-size: 1.8rem;
    margin: .5rem 0;
}
main #home .social-media a i:hover{   transform: scale(1.3);}
/*=================== style of about section ============ */
#about {
    min-height: 50vh;
    position: relative;
    top: -60px;
}
#about>div {
    margin: auto;
    width: 75%;
    box-shadow: 0px 2px 10px 0 #21312e43;
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    overflow: hidden;
}

#about p{   text-align: justify;}
#about .collapse {
    padding: 0 !important;
}
#about .box-img-about {
    overflow: hidden;
    padding: 0;
    width: 150px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    box-shadow: 1px 2px 10px #6161615d;

}
#about .box-img-about img{
    width: 200px;
    padding-right: 1rem!important;
}
#readMore .card{
    background-color: transparent !important;
    border: none;
    padding: 0;
}
/* ================skills ============ */
#skills {
    background-color: whitesmoke;
    padding: 2rem;
    color: var(--textColor);
}
#skills .desc {
    padding: 0 2rem ;
    color: #000;
}
#skills i { 
     margin: 10px;
    color: #000;
    font-size: 50px;
}
#skills .tools { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#skills .tools > img {
    width: 55px;
}
/*===============projects style section =================*/

#big-projects {
    margin: 0!important;
}

#big-projects .all-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#big-projects  .all-project  > .project {
    position: relative;
    margin: 25px 10px;
    width: calc((100% - 60px) / 3.4);
    padding: 0;
    height: 350px;
    transition: 0.4s ease all;
    overflow: hidden;
}

#big-projects> div .project-img {
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
}
 #big-projects  .all-project  > .project:hover  {
    box-shadow: 1px 2px 25px  #0000009e;
}
#big-projects .all-project  > .project .into-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
    padding: 1rem;
    height: 350px;
    position: absolute;
    bottom: -350px;
    transition: all ease-in-out .5s;
}
#big-projects .all-project  > .project:hover .into-project {
    transform: translateY(-350px);
    opacity: .85;
    color: var(--textColor);
}
#big-projects .all-project  > .project .into-project a{
    color: var(--textColor);
    border-radius: 5px;
    font-size: 17px;
    padding: 5px ;
    text-decoration: dashed;
}
#big-projects .all-project  > .project .into-project a > i{
    margin: 5px;
}
#big-projects .all-project  > .project .into-project a:hover{
    color: var(--linkColor);

}
.container-fluid p{text-align: justify;}
/* work-together section */
#work-together {
    background: #1d1d1d;
    padding: 3ch;
    height: 250px;
    display: flex;
    justify-content: center;
}
#work-together > p , #work-together > h2{
    color : var(--textColor) ;
    letter-spacing: 2px;
}
#work-together > h2, #work-together > h2 > a{
    color : var(--textColor);
}
#work-together > h2 > a { font-weight: bolder; font-size: 40px;}
/*----------------------the style of other cool stuff in the section of project --------- */

#other .container-other >* {    padding: 0!important;}

#other  .card {  
    margin: 10px;
    width: 300px;
    height: 350px;
    overflow: hidden;
    transition: all ease-in-out .35s;
    position: relative;
}
#other  .card:hover {  
    box-shadow: 0px 2px 10px var(--bgheader) !important;
}
#other .card  img{ 
    width: 100%;
    height: 350px;
}
.card .card_content {
    width: 100%;
    height: 350px;
    background-color: #000;
    color: var(--textColor);
    text-transform: capitalize;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: absolute;
    bottom: -350px;
    transition: all ease-in-out .5s;
}
.card .card_content a {
    font-size: 18px;
    letter-spacing: 1px;
}
#other  .card:hover  .card_content {
    transform: translateY(-350px);
    opacity: .85;
}

/* --------------------service section style ----------------------*/
#services {
    min-height: 50vh;
    padding: 2rem;
}
#services  *{
    color: #1d1d1d;
    }
#services .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--textColor);
    text-transform: capitalize;
}
#services .container i{
    color: #7c7c7c;
    font-size: 35px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#services .container p {
    letter-spacing: 1.5px;
}
/*----------------------contact----------------------*/
#contact {
    width: 100%;
}
#contact > .container-from-card {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
/*---------- form style ----------*/
.container-fuild  #container-form  {
    width: 50%;
}
#contact #contact-paragraph {
    font-size: 1em;
    line-height: 1.5rem;
    word-wrap: break-word;
    color: black;
}
.container-fuild form  label{
    color: black;
    font-size: 1rem;
    letter-spacing: 2px;
    display: block;
}
.container-fuild form > .btn-group input,
.container-fuild form > .btn-group a {
    border: 1px solid black !important;
    color: black !important;
}
.container-fuild form > input, .container-fuild form  textarea  {
    width: 100%;
    text-align: start;
    height: 45px;
    outline: none;
    margin: 1rem 0;
    transition: ease-in-out .25s;
    color: black;
    border: 1px solid #1d1d1d ;
}
.container-fuild form  .btn:hover{
    background-color: #1d1d1d6f;
}
.container-fuild form  textarea {    height: 150px;}

/*----------- card style------- */
#contact .container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    align-self: flex-start;
}
#contact .container-card .card-info {
    border-bottom: 4px solid var(--linkColor);
    color: whitesmoke;
    height: 200px;
    width: 400px;
    margin: 15px 0;
    border-radius: 4px;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}
#contact .container-card .card-info p {
    text-transform: capitalize;
    letter-spacing: 1.5px;
    margin: 4px 0;
}
#contact .container-card .card-info a { 
    color :whitesmoke;
    letter-spacing: 1.2px;
}
#contact .container-card .card-info .hr {
    color: #1d1d1d;
    border: 1px solid ;
    width: 30%;
    margin: 8px
}
.card-info i {   color: var(--linkColor);}
/* ============== footer ===========*/
svg {
    background-color: white;
}
.footer {
    display: flex;
    justify-content: center;
    background: #dcbb00;
    background-size: cover;
    padding-bottom: 1rem;
}
.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 3rem;
    width: 3rem; 
    font-size: 1.5rem;
}
.footer .social-link > i:nth-of-type(3){
    background-color: #3f729b !important;
}
.footer .container p {
    font-size: 1em !important;
    letter-spacing: 2px;
}