html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: #fff;  
    width: 100%;
}
 
/* generation style */

h2,h1,h3{
    text-transform: capitalize;
    color: rgb(41, 41, 41);
    letter-spacing: 1.4px;
    margin: 0;
    padding: 0;
    font-weight: 700;
}
h3 {
    font-weight: normal;
}
.btn {
    box-shadow: none!important;

}

/* ============ header =============*/
 
header {
    background-color: #132028b4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 55px;   
}
.logo a {
    position: absolute;
    top: 0px;
    left: 20px;
    color: #fff;
    font-size: 2em;
    transition: ease-in-out .5s;
    cursor: pointer;
    letter-spacing: 2px;
    text-decoration: none;
    margin-left: 35px;
}
.logo a:nth-child(1){
    color: transparent;
    -webkit-text-stroke: .8px #40c6d8;
}
.logo a:nth-child(2){
    color: #40c6d8;
    animation: animate 3s ease-in-out infinite;
}
@keyframes animate  {
    0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%,100% 52%,100% 100%,0% 100%) ;

    }
    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%,100% 46%,100% 100%,0% 100%) ;
    }
}
header nav {
    position: relative;

}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto!important;
}
header nav ul li{
    list-style: none;
}

header nav ul li a{
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-decoration: none;
    transition: ease-in-out .3s;
}
header nav ul li a:hover{
    color: rgb(34, 162, 194);
}

/*===================== MAIN STYLE ===========*/
main {
    height: 95vh;
    width: 100%;
    position: relative;
    background-image: url('../images/imagespexels-efrain-alonso-3584283.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
 /* main #home video{
    object-fit: fill;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

} */
main #home .content-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;

}
.content-home h2,.content-home q{
    margin: 0;
    letter-spacing: 1.4px;
    -webkit-text-stroke: .5px  #000;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.884);
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    font-weight: bold;
    position: relative;
    display: inline-block;
    color: rgb(18, 138, 132);
    -webkit-text-stroke: .2px  #000;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.664);
    text-transform: uppercase;
    animation: waviy 2s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,20%,40%,60%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

main #home .content-home q {
    -webkit-text-stroke: 0px;
}
main #home .social-media{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    right: 2%;
}

main #home .social-media a i{
    color: #000;
    transition: ease-out .28s;
}
main #home .social-media a i:hover{
    color: #fff;
    transform: scale(1.3);
}
/*=================== style of about section ============ */
#about {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
}
#about .container {
    box-shadow: 0px 2px 30px 0 #858585ce;
    padding: 1.5rem;
    border-radius: 4px;
    display: flex;

}
#about .container::before {
    content: "";
    width: 16vw;
    height: 16vw;
    background: linear-gradient( 120deg, rgba(243, 243, 243, 0.829), #2d8eb886);
    box-shadow: 0px 16px 40px #00000025;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 80px;
    z-index: -1;
    -webkit-border-radius: 50%;
}
#about .container .container-fluid p{   text-align: justify;}
#about .container .box-img-about img{
    width: 190px;
    height: 190px;
}
#collapseExample .card{
    background-color: transparent !important;
    border: none;
    padding: 0;
}
/* ================skills ============ */

#skills  .row  i{ 
    margin: 10px 0;
}
/*===============projects style section =================*/
#big-projects {
    background-color: whitesmoke;
    margin: 0!important;
}
.container-fluid p{
    text-align: justify;
}
/*=============== the style of other cool stuff in the section of project */
#other .row >* {
    padding: 0!important;
}
#other  .card {  
    margin: 10px;
    width: 300px;
}
.card img{
    height: 180px;
}

.card .card-body {
    flex: 0 0 0;
}
#services .container {
    text-align: center;
    color: #000;
    text-transform: capitalize;
}
#services .container i{
    color: rgb(3, 126, 197);
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: #fff;
    padding: 1.5rem;
    margin: 10px;
}

/*====================================contact============================*/
.container form  label{
    font-size: 1.2rem;
    letter-spacing: 2px;
    display: block;
}
.container form > input, .container form  textarea  {
    text-align: start;
    height: 45px;
    outline: none;
    margin: 1rem 0;
    transition: ease-in-out .25s;
    color: #000;
}
.container form > input:hover, .container form  textarea:hover  {   background-color: #1d819f9a;}
.container form  textarea {    height: 150px;}
/* ==== ==========================*/
#contact .card-info {

    border-bottom: 4px solid #1D809F;
    height: 200px;
    border-radius: 4px;
    color: #000;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact .card-info p {
    text-transform: capitalize;
    letter-spacing: 1.5px;
    margin: 4px 0;
}
#contact .card-info .hr {
    color: #1d1d1d;
    border: 1px solid ;
    width: 30%;
    margin: 8px
}
.card-info i {   color: #1a595d;}
/* ============== footer ===========*/
.footer {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}
.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 4rem;
    width: 4rem; 
    font-size: 1.5rem;
    background-color: #1D809F;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
}
