html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;  
    width: 100%;
}

/* generation style */

h2,h1,h3{
    text-transform: capitalize;
    color: rgb(65, 65, 65);
    letter-spacing: 1.4px;
    margin: 0;
    padding: 0;
}

/* ============ header =============*/
 
header {
    background-color: #000000;
    box-shadow: 0 -8px 40px rgba(238, 238, 238, 0.226);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 55px;   
}
.logo a {
    position: absolute;
    top: 0px;
    left: 20px;
    color: #fff;
    font-size: 2em;
    transition: ease-in-out .5s;
    cursor: pointer;
    letter-spacing: 2px;
    text-decoration: none;
    margin-left: 35px;
}
.logo:hover >a {
    letter-spacing: 6px;
}
.logo a:nth-child(1){
    color: transparent;
    -webkit-text-stroke: .8px #40c6d8;
}
.logo a:nth-child(2){
    color: #40c6d8;
    animation: animate 3s ease-in-out infinite;
}
@keyframes animate  {
    0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%,100% 52%,100% 100%,0% 100%) ;

    }
    50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%,100% 46%,100% 100%,0% 100%) ;
    }
}


header nav {
    position: relative;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li{
    list-style: none;
}

header nav ul li:nth-child(5){
    margin-right: 50px;
}
header nav ul li a{
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1.4px;
    text-decoration: none;
    transition: ease-in-out .3s;
}
header nav ul li a:hover{
    color: rgb(34, 162, 194);
    transition: all ease-out 0.2s;
}

/*===================== MAIN STYLE ===========*/
main {
    height: 85vh;
    width: 100%;
    position: relative;
 }

 main #home video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
 }
main #home .content-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
}
.content-home h1,.content-home h2,.content-home q{
    margin: 0;
    letter-spacing: 1.4px;
}
main #home .content-home h1{
    margin: 10px 0;
    letter-spacing: 4px;
}

main #home .social-media{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    right: 2%;
}
main #home .social-media a {  margin: 6px;}
main #home .social-media a i{
    color: #6d6d6d;
    transition: ease-in-out .3s;
}
main #home .social-media a i:hover{
    color: #fff;
    transform: scale(1.4);
}
/*=================== style of about section ============ */
#about {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
}
#about .container {
    
    border: 0.8px solid #858585d3;
    box-shadow: 0px 2px 30px 0 #858585ce;
    padding: 1.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
#about .container::before {
    content: "";
    width: 18vw;
    height: 18vw;
    background: linear-gradient( to right bottom, rgb(152 152 152 / 66%), #d4d4d400);
    box-shadow: 0px 16px 40px #00000025;
    border-radius: 50%;
    position: absolute;
    top: 39px;
    left: 20px;
    z-index: -1;
    -webkit-border-radius: 50%;
}
#about .container .container-fluid p{   text-align: justify;}
#about .container .container-fluid #read-more-text{    display: none;  }
#about .container .box-img-about{   width: 20%;}
#about .container .box-img-about img{
    width: 100%;
    opacity: 0.9;
}
/*===============projects style section =================*/
.container-fluid p{
    text-align: justify;
}
/*=============== the style of other cool stuff in the section of project */
#other .other-stuff{ 
    display: grid;
    grid-gap: 1.5rem;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr)  ;
    grid-template-rows: repeat(2, 1fr)  ;
    height: auto;
}
.card {
    border: 2px solid #6d6d6d;
    box-shadow: 0px 8px 10px #7d7d7db0;
    overflow: hidden;
}
.card img{
    height: 100%;
}

.card .card-body {
    flex: 0 0 0;
}

/*====================================contact============================*/
.container form  label{
    font-size: 1.2rem;
    letter-spacing: 2px;
    display: block;
}
.container form > input, .container form  textarea  {
    text-align: start;
    height: 45px;
    outline: none;
    margin: 1rem 0;
    transition: ease-in-out .25s;
    color: #000;
}
.container form > input:hover, .container form  textarea:hover  {
    background-color: #1d819f9a;
}

.container form  textarea {
    height: 150px;
}
/* ==== ==========================*/
.contact-info {
    width: 90%;
    display: flex;
    grid-gap: 1rem;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}
.contact-info .card-info {
    width: 390px;
    border-bottom: 4px solid #1D809F;
    height: 200px;
    border-radius: 4px;
    color: #000;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-info .card-info p {
    text-transform: capitalize;
    letter-spacing: 1.5px;
    margin: 4px 0;
}
.contact-info .card-info .hr {
    color: #1d1d1d;
    border: 1px solid ;
    width: 30%;
    margin: 8px
}

.card-info i {
    font-size: 25px;
    color: #1a595d;
}

/* ============== footer ===========*/
.footer {
    display: flex;
    justify-content: center;

}
.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 4rem;
    width: 4rem; 
    font-size: 1.5rem;
    background-color: #1D809F;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
}

